.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 1rem 1.5rem;

  border-radius: 0.5rem;
  border: none;

  cursor: pointer;
  transition: 300ms;

  &:hover {
    opacity: 0.7;
  }

  .label{
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.02rem;
  }

  &.primary {
    background: linear-gradient(90deg, #0796D3 0%, #53C0F0 68.65%);
    color: white;
    font-weight: 500;
  }

  &.secondary {
    background: #E7EEFB;
    font-weight: 400;
  }

  &.danger {
    background: linear-gradient(90deg, #D30707 0%, #F05353 68.65%);
    color: white;
    font-weight: 500;
  }
  
}